<html>
  <head>
    <title>Elias' homepage</title>
    <link rel="stylesheet" href="/typesafe.css">
    <link rel="webmention" href="https://webmention.io/www.masterless.io/webmention" />
    <link rel="pingback" href="https://webmention.io/www.masterless.io/xmlrpc" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
	<meta charset="utf-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
    <style>
     /* roboto-regular - latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local(''),
          url('https://www.elias.sh/roboto/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('https://www.elias.sh/roboto/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    body { font-size: 1.3em; font-family: Roboto, sans-serif; }
    a {border-bottom: 3px double;}
    img.big {width: 165px; margin: 2px auto; display: block;}
    img.git {width: 20px; height: 20px;}
     </style>
  </head>
  <body class="hack main container">
	<a href="https://elias.sh">< back to home</a>
	<main>
	<h1>{{ content.title }}</h1>
	</br>
	{{ content.content }}
	</main>
    {{ render('template/_footer.template')}}
  </body>
</html>
